<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:ldap="http://www.springframework.org/schema/ldap"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/ldap http://www.springframework.org/schema/ldap/spring-ldap.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<ldap:context-source 
		url="ldap://CDCDC003.idcn.mil.intra:389"
		base="OU=Org,DC=idcn,DC=mil,DC=intra" 
		username="IRT-Dummy-Usr"
		password="user_irt_dummy" />

	<ldap:ldap-template 
		id="ldapTemplate" 
		search-scope="SUBTREE" 
		count-limit="10"
		time-limit="30"/>

	<context:component-scan base-package="be.nuytsm" />

</beans>